* {
   box-sizing: border-box;
}

@font-face {
   font-family: 'hans_kendrickregular';
   src: url('../fonts/hanskendrick-regular.woff2') format('woff2'),
      url('../fonts/hanskendrick-regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

html {
   font-size: 12px;
}

body {
   background-color: #e2e7ec;
   margin: 0;
   padding-top: 5.625vw;
   color: #1d1d1d;
   font-family: 'hans_kendrickregular', Helvetica, sans-serif;
   font-size: 1rem;
   text-transform: uppercase;
}
h2 a{
   font-weight: bold;
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   display: inline-block;
   max-width: 100%;
   width: 100%;
}

.ba-container {
   max-width: 1140px;
   padding: 0 10px;
   margin: 0 auto;
}

.ba-row {
   display: flex;
   margin: 0 -10px;
   flex-wrap: wrap;
}
.loading-container {
   display: none;
}

.visually-hidden {
   position: absolute !important;
   clip: rect(1px 1px 1px 1px);
   /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
   padding: 0 !important;
   border: 0 !important;
   height: 1px !important;
   width: 1px !important;
   overflow: hidden;
}

.article {
   width: 100%;
   
}

.ba-col {
   padding: 0 10px;
   margin-bottom: 20px;
   width: 100%;

}

.article__big {
   flex-grow: 1;
   position: relative;
}

.article__big:before {
   content: '';
   position: absolute;
   top: 50px;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: linear-gradient(transparent, rgba(0, 0, 0, 1));
}
.ba-col:nth-child(4) .article__time {
   visibility: hidden;
}

.article__big .article__info {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 0 15px 20px;
}

.article__title {
   font-size: 1.375rem;
   line-height: 1.3636;
   margin-bottom: 2.0666em;
}

.article__title_big {
   font-size: 1.875rem;
   color: #fff;
   line-height: 1.2;
   margin: 0;
}

.article__time,
.article__title {
   text-transform: uppercase;
}

.article__time {
   font-size: .8126rem;
   line-height: 2.3;
   color: #818181;
   font-weight: medium;
}
.article__time--none {
   opacity: 0;
}
.article {
   background-color: #fff;
}
.article__info {
   padding: 0 1.56rem 1.56rem;
}
.article-author__img {
   width: 56px;
   height: 56px;
   border-radius: 50%;
}
@media screen and (min-width: 768px) {
   html {
      font-size: 16px;
   }
   .ba-col {
      width: 50%;
      min-height: 33.75rem;
   }
   .ba-col_big {
      flex-basis: 100%;
      height: 100%;
      flex-grow: 1;
   }
   .article-author {
      position: absolute;
      bottom: 3%;    
   }
   .article {
      position: relative;
      height: 100%;
   }

   .article__info {
      margin-top: 1.68rem;
   }
   .article__big .article__info {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 70%;
      padding: 0 0 20px 40px;
   }
   .article-title {
      margin-bottom: 3.0666em;
   }
   .article__big {
      min-height: 33.75rem;
   }
   .article__img--cover {
      min-height: 33.75rem;
   }
   .article__tiny:hover .article--author__link {
      background-color: black;
      color: #fff;
      transition: background 1s ease-in-out;
   }
   .article__tiny{
      position: relative;
      display: inline-block;
    }
    .article__tiny:before{
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: 0;
      height: 0;
      background: transparent;
      border: 2px solid transparent;
    }
    .article__tiny:hover:before{
      animation: animate .7s linear forwards;
    }
    @keyframes animate{
      0%{
        width: 0;
        height: 0;
        border-top-color: #262626;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
      }
      50%{
        width: 100%;
        height: 0;
        border-top-color: #262626;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: #262626;
      }
      100%{
        width: 100%;
        height: 100%;
        border-top-color: #262626;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: #262626;
      }
    }
  
    .article__tiny:after{
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: 0;
      height: 0;
      background: transparent;
      border: 2px solid transparent;
    }
    .article__tiny:hover:after{
      animation: animate2 .7s linear forwards;
      animation-delay: 0.3s;
    }
    @keyframes animate2{
      0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #262626;
        border-right-color: transparent;
      }
      50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-bottom-color: #262626;
        border-left-color: #262626;
        border-right-color: transparent;
      }
      100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-bottom-color: #262626;
        border-left-color: #262626;
        border-right-color: transparent;
      }
    }
    .lds-spinner {
      color: official;
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
      margin: 0 auto;
    }
    .lds-spinner div {
      transform-origin: 25px 25px;
      animation: lds-spinner 1.2s linear infinite;
    }
    .lds-spinner div:after {
      content: " ";
      display: block;
      position: absolute;
      top: 3px;
      left: 29px;
      width: 5px;
      height: 14px;
      border-radius: 20%;
      background: #fff;
    }
    .lds-spinner div:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -1.1s;
    }
    .lds-spinner div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1s;
    }
    .lds-spinner div:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.9s;
    }
    .lds-spinner div:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.8s;
    }
    .lds-spinner div:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.7s;
    }
    .lds-spinner div:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.6s;
    }
    .lds-spinner div:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.5s;
    }
    .lds-spinner div:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.4s;
    }
    .lds-spinner div:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.3s;
    }
    .lds-spinner div:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.2s;
    }
    .lds-spinner div:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.1s;
    }
    .lds-spinner div:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
    }
    @keyframes lds-spinner {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    .loading-container {
       text-align: center;
       margin-top: 2em;
       margin-bottom: 5em;
    }
    .loading-text {
       display: inline-block;
       color: #99a5b0;
       font-size: 0.8126rem;
       margin-left: 2em;
    }
    
}
@media screen and (min-width: 1023px) {

   html {
      font-size: 16px;
   }

   .ba-col {
      width: 33.333333%;
      min-height: 33.75rem;
   }
   .ba-col_big {
      width: auto;
      flex-grow: 1;
      flex-basis: 66.04%;
   }
   .article {
      position: relative;
      height: 100%;
   }
   .article-title {
      margin-bottom: 3.0666em;
   }
   .article__info {
      margin-top: 1.68rem;
   }
   /* .article__big .article__info {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 0 15px 20px;
   } */
}
